
<h1>New Book</h1>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <label>Title：</label>
    <input formControlName="title"><br>
    <div class="alert alert-danger" [hidden]="bookForm.controls.title.valid || bookForm.controls.title.pristine" >
      Title is required.
    </div>
    <label>Author：</label>
    <input formControlName="author"><br>
    <div class="alert alert-danger" [hidden]="bookForm.controls.author.valid || bookForm.controls.author.pristine" >
      Author is required.
    </div>
    <label>PublishDate：</label>
    <input formControlName="publishDate"><br>
    <div class="alert alert-danger" [hidden]="!bookForm.controls.publishDate.errors?.required || bookForm.controls.publishDate.pristine" >
      PublishDate is required.
    </div>
    <div class="alert alert-danger" [hidden]="!bookForm.controls.publishDate.errors?.pattern || bookForm.controls.publishDate.errors?.required">
      PublishDate format is not valid. <br>
      Format：YYYY-MM-DD
    </div>
    <button (click)="goback()">取消</button>
    <button type="submit" [disabled]="bookForm.invalid">新增書籍</button>
  </form>
  <!-- <button (click)="onSubmit()">新增書籍</button> -->
  
